<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div>
    <img width="40" alt="Pokeball" src="../assets/pokeball.png" />
    <img width="130" alt="Pokemon" src="../assets/pokemon.png" />
  </div>
</div>

<div class="content" role="main">
  <h2>Información</h2>
  <div class="info">
    <div class="info-block">
      <div class="attribute">
        <span class="label">Nombre:</span>
        <span class="value">{{ name }}</span>
      </div>
      <div class="attribute">
        <span class="label">Vida:</span>
        <span class="life">{{ life }} pts</span>
      </div>
      <div class="attribute">
        <span class="label">Fortaleza:</span>
        <app-type [type]="advantage"></app-type>
      </div>
    </div>
    <div class="info-block">
      <div class="attribute">
        <span class="label">Tipo:</span>
        <app-type [type]="type"></app-type>
      </div>
      <div class="attribute">
        <span class="label">Estado:</span>
        <span class="value">{{ status }}</span>
      </div>
      <div class="attribute">
        <span class="label">Debilidad:</span>
        <app-type [type]="disadvantage"></app-type>
      </div>
    </div>
  </div>
  <h2>Ataques</h2>
  <div class="attacks-container">
    <app-attacks
      *ngFor="let attack of attacks; index as i"
      [attack]="attack"
      [id]="i + 1"
    ></app-attacks>
  </div>
  <h2>Enemigos</h2>
  <div class="enemies-container">
    <app-enemies
      *ngFor="let enemy of enemies;"
      [enemy]="enemy"
    ></app-enemies>
  </div>
  <h2>Acciones</h2>
  <div class="actions">
    <button (click)="joinMatch()" [disabled]="status !== 'disponible'">Unirse a Partida</button>
    <button (click)="openAttackModal()" [disabled]="status !== 'atacando'">Atacar</button>
    <button (click)="openEditModal()" [disabled]="status !== 'disponible'">Editar Pokémon</button>
    <button (click)="openLogsModal()">Ver Logs</button>
  </div>
</div>

<app-enemy-attack-modal
  *ngIf="showAttackModal"
  [enemies]="enemies"
  [attacks]="attacks"
  (attackEvent)="handleAttack($event)"
  (closeModalEvent)="closeAttackModal()"
></app-enemy-attack-modal>

<app-message-modal
  *ngIf="showMessageModal"
  (closeModalEvent)="closeMessageModal()"
  [body]="messageBody"
></app-message-modal>

<app-pokemon-form-modal
  *ngIf="showEditModal"
  (editEvent)="editPokemon($event)"
  (closeModalEvent)="closeEditModal()"
></app-pokemon-form-modal>
